[submodule "deps/CLI11"]
	path = deps/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "deps/AMD-Opencl"]
	path = deps/AMD-Opencl
	url = https://github.com/GPUOpen-Tools/common-lib-amd-APPSDK-3.0.git
[submodule "deps/DownloadProject"]
	path = deps/DownloadProject
	url = https://github.com/Crascit/DownloadProject
